<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logdebug" xsi:type="File" fileName="${basedir}/logs/output-${shortdate}.log" layout="${message}" />
    <target name="logfatal" xsi:type="File" fileName="${basedir}/logs/input-${shortdate}.log" layout="${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Warn" writeTo="logdebug" />
    <logger name="*" minlevel="Fatal" writeTo="logfatal" />
  </rules>
</nlog>